/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

:root{
    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #00A8FF;
    --secondary-color-dark: #008BD6;
    --accent-color: #2D2E2E;

    /* Font size */
    --font-size-small: 0.8rem;
    --font-size-regular: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    
    /* Font weight */
    --font-weight-extra-light: 200;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Reusable CSS */
.title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 5px;
}
.subtitle{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-extra-light);
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 15px;

}
button{
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease 0s;
    color: var(--accent-color);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
button:hover{
    /* background-color: var(--secondary-color-dark); */
    color: var(--primary-color);
}
.container{
    padding: 20px 120px;
}

/* Header */
header{
    padding: 10px 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav_menu, .nav_links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    cursor: pointer;
}
.nav_link{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    padding: 0 30px;
    color: var(--accent-color);
}
.nav_link:hover{
    color: var(--secondary-color);
}

/* Home Section */
.home_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home_description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_description h1, h2, p{
    margin-bottom: 10px;
}
.home_description h1, h2{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--accent-color);
}
.home_description h2{
    color: var(--secondary-color);
}
.home_description p{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    color: var(--accent-color);
}

/* Add Cars */
.add_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form_card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px;
}
.form_title{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--accent-color);
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
input[type=text],
input[type=url]{
    padding: 8px 20px;;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
}
::placeholder {
    color: var(--primary-color);
    opacity: 1; /* Firefox */
}
.add_btn{
    margin: 8px 0;
    width: 80px;
    align-self: center;
}

/* Available Cars */
#available{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.card li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.card img{
    max-width: 100%;
    height: auto;
}
.content{
    padding: 10px;
    text-align: center;
}
.content h2, p{
    color: var(--accent-color);
}
.content h2{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}
.content p{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}
.car_count{
    font-weight: bold;
}
.card_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/* Footer */
.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer_copyright{
    color: var(--accent-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-extra-light);
}